.popup {
    @include flexCenter; // Center FlexBox
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: rgba($color-black, .9);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    &__content {
        // @include absCenter;  Center Mixin
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        position: relative;
        transition: all .5s .2s;
        opacity: 0;
        transform: scale(0);
    }


    &__left {
        width: 33.3333%;
        display: table-cell;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
            display: block;
            overflow: hidden;
        }

    }

    &__right {
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width: 100% !important;
            margin-bottom: 2rem;
            display: block;
            text-align: center;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-port) {
            float: left;
            width: 50%;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;


        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }


    //// CLOSE
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {

        transform: scale(1);
        opacity: 1;
    }

    &__close {

        &:link,
        &:visited {
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }


}